
    .hideimportant{
        display:none !important;
    }
    .filtergrid_wrap {
        display: flex;
    }
    .sort_btn_group{
        display:none;
        position: absolute;
        top: 79px;
        background: white;
        padding: 20px 30px;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
         border: 1px solid whitesmoke;
         width: 90%;
    }
    .sort_btn_group ul{
        margin: 0;
        padding:0;
    list-style-type: none;
    }
    
    .sort_btn_group li {
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #e2e2e2;
    cursor:pointer;
}
.sort_btn_group li:hover {
font-weight:500;

}
.sort_btn_group li:first-child {
    border-top: 0px solid #e2e2e2;
}
.sort_btn_mobile{
    cursor:pointer;
}
.sort_btn_group .active{
    font-weight:bold;
    color: var( --e-global-color-primary );
}