/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dds_pop_wrap {
    position: fixed;
    width: 50%;
    min-height: 90%;
    background: #ffffff;
    z-index: 5000;
    display: none;
    opacity: 0;
    bottom: -100vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 0px 22px #a1a1a130;
    border-top: 4px solid var(--e-global-color-primary);
}
.dds_dialog_pop_wrap {
    position: fixed;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(0deg, #0000003d, transparent);
    z-index: 5000;
    display: none;
    opacity: 0;
    bottom: -100vh;
    left: 0;
}
.dds_pop_inner {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.dds_dialog_pop_inner {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.dds_pop_close {
    font-size: 22px;
    color: var(--e-global-color-primary);
    background: #f8f8f8;
    width: 36px;
    height: 36px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 29px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    border: 3px solid;
    margin-top: 0;
    z-index: 10000;
    cursor: pointer;
}
.dds_dialog_pop_close {
    
    
    text-align: right;
    font-size: 17px;
    background: #ffffff;
    display: flex;
    position: absolute;
    top: -18px;
    right: -18px;
    border: 1px solid #cecece;
    border-radius: 100px;
    padding: 8px 11Px;
    box-shadow: 0px 0px 4px -2px #6a6a6a;
    cursor: pointer;
}
.dds_dialog_pop_content{
    width: 40%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 80%;
    background: white;
    padding: 30px;
    border-radius: 5px;
    position: relative;
}
.dds_pop_content{ 
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80%;
}
.auto_gegevens_wrap{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.dds_pop_content h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 400;
}
.dds_dialog_pop_content h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 400;
}
.dds_pop_title {
    margin-bottom: 20px;
    font-weight: 300;
    color: #757575;
}
.pop_chosenfacets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 25px;
}
.pop_chosenfacets .ch_facet_item{
   background-color: white;
}

.submit_close_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
button.dds_form_submit.submit_icon_wrap {
    max-width: unset;
    width: 47% !important;
}
button.pop_close {
    width: 47%;
    margin-top: 9px;
    height: 54px;
    border: 2px solid var( --e-global-color-primary ) !important;
    background: transparent !important;
    color: var( --e-global-color-primary ) !important;
    font-weight: 500;
}
.dds_form_submit {
  
    width: 47%;
}

@media only screen and (max-height: 1100px){


    .dds_pop_wrap {
    overflow-y: scroll;
}
button.dds_form_submit.submit_icon_wrap {
  
    max-width: unset !important;
}
}
@media only screen and (max-width: 1100px){

    .dds_pop_wrap {
        width: 70%;
    }
    
}
@media only screen and (max-width: 770px){
    .dds_pop_wrap {
        width: 90%;
    }
    .auto_gegevens_wrap {
        flex-wrap: wrap;
    }
    .admin_btn{
        width: 100%;
    }
    .admin_btn {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .auto_gegevens_wrap{
        margin-top:10px;
    }
    .dds_dialog_pop_content {
        width: 65%;
    }    
    .sort_bodh_wrap{
        display:none !important;
    }
    button.dds_form_submit.submit_icon_wrap {
        
        width: 100% !important;
    }
    button.pop_close {
        width: 100%;
    }
    
.dds_pop_wrap {
    height: 90%;
}
.dds_pop_content h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.dds_pop_content {
    width: 80%;
}
}