html{
    scroll-behavior: smooth;
}
select{
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}
.sp_top_wrap {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 3%;
}
.breadcrumbs{
display:none;
}
.posttitle h1 {
    font-size: 25px;
}
.carpass_traxio_garantie_check li {
    display: inline-block;
    margin-right:10px;
}
.carpass_traxio_garantie_check ul {
    margin:0;
    padding:0;
    margin-bottom:75px;
}
.carpass_traxio_garantie_check a {
    color:black;
    text-decoration:underline;
}
.carpass_traxio_garantie_check svg.feather.feather-check {
    height: 15px;
    width: 15px;
    margin-right: 9px;
    margin-bottom: -2px;   
}
svg.feather.feather-phone, svg.feather.feather-mail, svg.feather.feather-repeat,svg.feather.feather-calendar,svg.feather.feather-share,svg.feather.feather-map-pin {
    height: 15px;
    width: 15px;
    margin-right: 3px;
    margin-bottom: -2px;
    
}
.opties svg.feather.feather-check {
    height: 15px;
    width: 15px;
    margin-right: 9px;
    margin-bottom: -2px;
    stroke-width: 4px;
}
.sp_spec_wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    border-bottom: 1px solid #e6e6e6;
    width: 45%;
}
.sp_spec_label{
    font-weight:600;
}
.sp_mid {
    width: 60%;
}
.sp_specificaties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:75px;
}
.spechead h2{
font-size:20px;
}
.opties h3 {
    font-size: 16px;
}
.optie {
    padding: 5px 0;
}
.toonmeer {
    padding: 8px;
    margin: 10px 0;
    background: #ffffff;
    color: #1f1f1f;
    max-width: 150px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #b1b1b1;
    cursor:pointer;
}
.hiddenoption{
    display:none;
}
.optionwrap.opties {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.optcontrol {
    width: 50%;
}
.optionwrap {
    margin-bottom: 75px;
}
.sp_desc_wrap {
    max-height: 300px;
    overflow: hidden;
}
.fulldesc {
    max-height: unset !important;
    overflow: unset !important;
    transition:0.4s;
}
.toondesc{
    padding: 8px;
    margin: 10px 0;
    background: #ffffff;
    color: #1f1f1f;
    max-width: 150px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #b1b1b1;
    cursor: pointer;
}
.rel_card_wrap {
    overflow: hidden;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 2px gainsboro;
    border: 1px solid #f3f3f3;
    
}
.rel_card_wrap h2 {
    font-size: 19px;
    padding: 0px 15px;
    margin: 20px 0 5px 0;
}
.rel_card_wrap p {
    padding: 0px 15px;
}
.rel_price {
    padding: 0px 15px;
    font-size: 20px;
    
}
.rel_card_wrap h2{
    margin: 20px 0 5px 0;
    font-size: 16px;
}
.rel_list {
    display: flex;
    justify-content: flex-start;
    padding: 0px 10px 14px;
}

.rel_bekijk {
    border: 0;
    margin: 0 15px 0;
    border-radius: 5px;
    color: white;
    
}

.sp_description {
    margin-bottom: 75px;
}

.rel_list div {
    background: #f9f9f9;
    padding: 4px 10px;
    border-radius: 7px;
    color: #525252;
    font-size: 13px;
    margin: 10px 5px 0px;
}
.relhead {
    margin-bottom: 35px;
}
.splide__list{
    align-items: center;
}
.sp_sticky_nav{
    width:40%;
    
}
.sp_mid_wrap{
    display: flex;
    flex-wrap: wrap;
}
.sp_sticky {
    padding: 25px;
    border-radius: 8px;
    border: 1px solid rgb(218 218 218);
    box-shadow: rgb(0 0 0 / 11%) 0px 6px 16px;
    width: 80%;
    margin: auto;
    position: sticky;
    top: 100px;
}
.sp_sticky_beschikbaarheid {
    padding: 15px 0;
    margin: 15px 0;
    color: white;
    text-align: center;
    border-radius: 7px;
    font-size: 15px;
    cursor:pointer;
}
form.sp_contact_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.sp_smv_testrit.smv_wrap {
    cursor: pointer;
}
form.sp_testrit_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.sp_sticky_beschikbaarheid:hover {
    opacity:0.8;
    transition: all 0.3s ease;
}

.sp_sticky_prijs {
    font-size: 36px;
    color: black;
    border-bottom: 1px solid #dadada;
    margin-bottom: 20px;
    padding-bottom:20px;
}
.sp_sticky_vergelijken {
    margin: 10px 0;
}

.sp_sticky_prijs_status_wrap{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dadada;
}
.sp_sticky_status {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    color: white;
    border-radius: 7px;
}
.sp_beschikbaar{
    background: #00b362;
}
.sp_gereserveerd {
    background: #f58d17;
}
.sp_verkocht{
    background: #777777;
}
.sp_sticky_beschikbaarheid {
    width: 100%;
}
.sp_sticky_telefoneren {
    padding: 13px 0;
    background: #ffffff;
    margin: 0;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
.sp_sticky_contact_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.sp_sub_nav{
    margin:20px 0;display:flex;padding: 0 5px;justify-content:space-between;align-items:center;
}
.sp_delen{
    display:flex;
    align-items:center;
}
.sp_bottom_sticky_nav {
    position: fixed;
    top: 0;
    background: white;
    border-bottom: 1px solid #ececec; 
    width: 100%;
    z-index: 2;
}
.sp_sticky_nav_dekstop {
    max-width: 1200px;
    margin: 25px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sp_sticky_nav_dekstop div{
    margin-right:30px;
}
.sp_bottom_sticky_nav{
    display:none;
}
.splide__arrow,button.splide__pagination__page{
    background-color: white !important;
}
.rel_bekijkstock {
    text-align: center;
    color: white !important;
    width: 90% !important;
    height: 45px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 12px 0;
}
.sp_sticky_top_nav_item{
    color:rgb(56, 56, 56);
    text-decoration:none;
}
.sp_sticky_top_nav_item:visited{
    color:rgb(56, 56, 56);
}
.sp_sticky_oudeprijs {
    text-decoration: line-through;
    font-size: 21px;
    color: #929292;
}
.deellijst {
    background: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(218 218 218);
    box-shadow: rgb(0 0 0 / 11%) 0px 6px 16px;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-around;
    align-items: flex-start;
    width: 160px;
    
}
.deellijst_wrap {
    display:none;
}
.sp_delen{
    cursor:pointer;
}
.sp_bottom_sticky_nav {
    padding: 0 3%;
}
.deellijst div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sp_locatie a {
    text-decoration: none;
    color:#404040;
}
.sp_sticky_mobile_nav {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
    left: 0;
}
.smv_wrap {
    text-align: center;
    width: 33%;
    margin: 10px 5px;
    color: black;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.sp_smv_mail {
    background: rgb(13, 148, 42);
    color: white;
}

.sp_sticky_testrit svg.feather.feather-calendar,.sp_sticky_vergelijken svg.feather.feather-repeat{
    margin-right: 10px;
}
.sp_testrit_pop_wrap{
    position: fixed;
    width: 100%;
    min-height: 100%;
    background: whitesmoke;
    z-index: 100;
    display: none;
    opacity:0;
    bottom: -100vh;
    left: 0;
}
.sp_testrit_inner{
    min-height:100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sp_testrit_pop {
    width: 80%;
    margin: auto;
}
.sp_testrit_pop {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
}
.sp_testrit_pop input[type="text"],.sp_testrit_pop input[type="tel"],.sp_testrit_pop input[type="email"],.testrit_select {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    outline: 0;
    border:0;
    box-shadow:rgb(45 45 45 / 16%) 0px 1px 2px 0px, rgb(238 238 238) 0px 0px 0px 1px;
    border-radius:5px;
}
.sp_testrit_pop h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 400;
}
.sp_pop_wagentitel{
    margin-bottom: 20px;
    font-weight: 300;
    color: #757575;
}
.sp_testrit_pop textarea {
    width: 400px;
    max-width:400px;
    min-width:400px;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical; 
    min-height:80px;
max-height: 200px;
border:0;
box-shadow:rgb(45 45 45 / 16%) 0px 1px 2px 0px, rgb(238 238 238) 0px 0px 0px 1px;
outline: 0;
}
.deelitem{
    cursor:pointer;
}

button#sp_testrit_versturen {
    border: 0;
    color: white;
    width: 200px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.testritsluiten{
    position: absolute;
    right: 50px;
    top:25px
}
.sp_testrit_succes {
    border: 2px solid #14b52f;
    background: #15b52f17;
    border-radius: 8px;
    color: #15b52f;
    margin: 0;
    padding: 10px;
    padding-left: 35px;
    font-size: 13px;
    margin-bottom: 30px;
    width: 400px;
    display: none;
}
.sp_testrit_loading:before {
    content: '';
    margin-right: 16px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
}



.sp_contact_pop_wrap{
    position: fixed;
    width: 100%;
    min-height: 100%;
    background: whitesmoke;
    z-index: 100;
    display: none;
    opacity:0;
    bottom: -100vh;
    left: 0;
}
.sp_contact_inner {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.sp_sticky_vergelijken{
    cursor:pointer;
}
.sp_rel_wrap .splide__slide{
    cursor:pointer;
}
.sp_contact_pop {
    width: 80%;
    margin: auto;
}
.sp_contact_pop {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
}
.sp_contact_pop input[type="text"],.sp_contact_pop input[type="tel"],.sp_contact_pop input[type="email"] {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    outline: 0;
    border:0;
    box-shadow:rgb(45 45 45 / 16%) 0px 1px 2px 0px, rgb(238 238 238) 0px 0px 0px 1px;
    
}
.testrit_select{
    border-radius: 5px;
    background:white;
}
.sp_contact_pop h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 400;
}
.sp_pop_wagentitel{
    margin-bottom: 20px;
    font-weight: 300;
    color: #757575;
}
.sp_contact_pop textarea {
    width: 400px;
    max-width:400px;
    min-width:400px;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical; 
    min-height:80px;
max-height: 200px;
border:0;
box-shadow:rgb(45 45 45 / 16%) 0px 1px 2px 0px, rgb(238 238 238) 0px 0px 0px 1px;
outline: 0;
}
.deelitem{
    cursor:pointer;
}

button#sp_contact_versturen {
    border: 0;
    color: white;
    width: 200px;
    height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.contactsluiten{
    position: absolute;
    right: 50px;
    top:25px
}
.sluiten {
    padding: 10px 0px;
    border-radius: 5px;
    color: #151515;
    border: 1px solid transparent;
    background: white;
    width: 160px;
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: center;
    background: white;
    color: dimgrey;
    font-size: 13px;
    border: 1px solid #adadad;
    width: 115px;
    cursor:pointer;
}
.sp_sticky_telefoneren{
    text-decoration: none !important;
}
.warning {
    border: 2px solid rgb(224 64 39);
    border-radius: 8px;
    color: red;
    margin: 0;
    padding: 10px;
    padding-left: 35px;
    font-size: 13px;
    margin-bottom: 30px;
    display: none;
}
.sp_contact_succes {
    border: 2px solid #14b52f;
    background: #15b52f17;
    border-radius: 8px;
    color: #15b52f;
    margin: 0;
    padding: 10px;
    padding-left: 35px;
    font-size: 13px;
    margin-bottom: 30px;
    width: 400px;
    display: none;
}
.sp_contact_loading:before {
    content: '';
    margin-right: 16px;
    transition: 0.3s;
    width: 25px;
    height: 25px;
}
@media only screen and (max-width: 1150px) {
    
    .sp_sticky_contact_wrap {
        flex-direction: column;
    }
    .sp_sticky_beschikbaarheid, .sp_sticky_telefoneren {
        width: 100%;
    }
    .sp_sticky_telefoneren {
        margin: 0;
    }
}


@media only screen and (max-width: 800px) {
    
    .sp_sticky_mobile_nav {
        display: flex;
    }
    .sp_mid_wrap {
        flex-direction: column;
    }
    .sp_mid {
        width: 100%;
    }
    .sp_sticky_nav {
        width: 100%;    
        margin-bottom: 100px;
    }
    
    .sp_bottom_sticky_nav{
        display:none !important;
    }
}

@media only screen and (max-height: 1100px) {
    .sp_testrit_pop_wrap{
        overflow-y: scroll;
    }
    .sp_contact_pop_wrap{
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 800px) {
    
    
    .sp_contact_succes,.sp_testrit_succes{
        width:100%;
    }
    .sp_spec_wrap {
        width: 100%;
    }
    .optcontrol {
        width: 100%;
    }
    .sp_contact_pop textarea,.sp_testrit_pop textarea {
      
        margin-bottom: 15px;
        padding: 10px;
        width: 100%;
    max-width:100%;
    min-width:100%;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical; 
    min-height:80px;
max-height: 200px;
    }
    .sp_contact_pop input[type="text"],.sp_contact_pop input[type="email"],.sp_contact_pop input[type="tel"]{
      
        width: 100%;
    }
    .sp_testrit_pop input[type="text"],.sp_testrit_pop input[type="email"],.sp_testrit_pop input[type="tel"],.testrit_select{
      
        width: 100%;
    }
    .sp_contact_pop, .sp_testrit_pop  {
        height: 100%;
    }
    .sp_contact_pop h2,.sp_testrit_pop h2 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    button#sp_contact_versturen, button#sp_testrit_versturen {
        width: 100%;
    }
    .contactsluiten,.testritsluiten {
        right: 10%;
    }
}

@media only screen and (max-width: 350px) {
    .smv_text{
        display:none;
    }
}
















.popin {
    position: absolute;
    animation: popin 0.2s ease;
    -webkit-animation: popin 0.2s ease;
    display:block;
    z-index: 1;
}
@keyframes popin {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes popin {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1.2)}
    to{-webkit-transform:scale(1)}
}